body {
	font-size: 16px;
	font-weight: 400;
	color: #424242;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #91D8EA;
}

::-moz-selection {
  background: #91D8EA;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 20px;

}

#header .container {
	padding-top: 40px;
}

.top-bar{
	height: 10px;
	background: #3291f6;
}

.navbar .nav-links li {
	display: inline;
	list-style-type: none;
	margin-left: 40px;
}

.navbar .nav-links {
	float: right;
	line-height: 64px;
}

.text-question {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	padding: 6px 12px;
}

.headline{
	margin: 2em 0;
	text-align: left;
}

strong{
	font-weight: 700;
}

.headline h1{
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}

.logo {
	float: left;
	background-image: url("/images/home/sci-logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-left: 144px;
	height: 48px;
	display: block;
}

.title{
	color: #AEB0B2;
	font-weight: 400;
	text-transform: uppercase;
}

#header {
	background-image: url("/images/home/spark-bg.png");
	background-size: 300px 200px;
	top: 0;
	left: 0;
	display: block;
}


a.get-started-cta{
	float: left;
	background: #3291f6;
	font-weight: 500;
	margin-top: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 20px;
	padding-left: 22px;
	border-radius: 6px;
	border: none;
	text-decoration: none;
	cursor: pointer;
}

a.get-started-cta:hover{
	background: #5E98B5;
}

.get-started-cta-btn{
	font-size: 18px;
	/*padding-left: 9px;*/
	color: #fff;
	display: inline-block;
	min-width: 0;
	min-height: 0;
	margin: 0;
	text-align: center;
	/*background-image: url("/images/home/icon-watch.png");
	background-size: 24px 24px;
	background-repeat: no-repeat;*/
	text-decoration: none;
}

.white-fade{
	height: 40px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 98%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 98%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 98%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
copy
}

#what-is {
	padding: 20px 0 0px 0;
}

.what-is-box {
	background: #F7FAFB;
	border: 2px solid #C8D5DB;
	height: 330px;
}

.dashboard-screen {
	padding-top: 40px;
	float: right;
}

.save-costs{
	margin-top: 0px;
	background: #3291f6;
	padding: 15px 40px 15px 40px;
}

.main-bene-text{
}

p.enough-features{
	color: #fff;
	font-size: 24px;
	margin: 0 0 0px;
}

p.only-cost{
	color: #fff;
	font-size: 18px;
}



.learn-more-cta{
	margin: 10px 0;
}

a.learn-more-cta-btn{
	font-size: 16px;
	padding: 6px 10px;
	color: #3291f6;
	background: #fff;
	display: block;
	line-height: 21px;
	margin: 0;
	text-align: center;
	border: none;
	border-radius: 6px;
	text-decoration: none;
}

a.learn-more-cta-btn:hover{
	opacity: 0.9;
}

#service {
	padding: 20px 0;
}



#footer {
	padding: 20px 0 0 0;
	background-color: #fff;
	border-top: 2px solid #D2D6D8;
}



h1 {
	font-size: 3em;
	font-weight: 300;
	color: #354953;
}

h2 {
	font-size: 1.75em;
	color: #354953;
}


h3 {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.25em;
	color: #354953;
}


h4 {
	font-size: 1.375em;
	margin-top: 20px;
}

p.lead {
	font-size: 1.38em;
	line-height: 1.8em;
	font-weight: 300;
	color: #354953;
}

p.footer-text {
	font-size: .8em;
	line-height: 1.5em;
	font-weight: 400;
	color: #354953;
	text-align: center;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	color:#354953;
}

.navbar{
	display: block;
}

nav.navbar a {
	color: #AEB0B2;
}

nav.navbar a:hover {
	color: #7D7E80;
	text-decoration: none;
}

#features {
	padding-bottom: 60px;
}

.features-card {
	display: block;
	position: relative;
	width: 100%;
	padding: 20px 0 0;
	margin: 10px 0 20px 0;
	text-align:center;
}
.features-card img {
	width: 50%;
}

.features-card h3 {
	font-weight: 400;
	padding-bottom: 20px;
}

.features-card p {
	line-height: 20px;
	margin: 20px 40px;
}

/*
figure {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height:168px;
	background-repeat: no-repeat;
}*/

/*.skill{
	margin-top: 20px;
}

.icon-1{
	background-image: url("/images/home/chara-01.png");
	background-size: 514px 296px;
}

.icon-2{
	background-image: url("/images/home/analyzis-02.png");
	background-size: 72px 72px;
}

.icon-3{
	background-image: url("/images/home/analyzis-03.png");
	background-size: 72px 72px;
}*/

@media
(min-width: 1200px){

.row > div:nth-child(3n+4){
    clear: both;
  }

.dashboard-screen{
	position: absolute;
	clip: rect(0px, 475px, 326px, 0px);
}

.about-spark{
	padding: 30px 20px 0 60px;
}

.about-spark p {
	margin-top: 24px;
	line-height: 28px;
}

}

@media
(min-width: 992px) and (max-width: 1199px){

.row > div:nth-child(3n+4){
    clear: both;
  }

.border-bottom-right {
	border-bottom: 1px solid #D2D6D8;
	border-right: 1px solid #D2D6D8;
}

.border-bottom {
	border-bottom: 1px solid #D2D6D8;
}

.border-right {
	border-right: 1px solid #D2D6D8;
}

.about-spark{
	padding: 30px 20px 0 60px;
}

.about-spark p {
	margin-top: 24px;
	line-height: 28px;
}

.dashboard-screen{
	position: absolute;
	clip: rect(0px, 448px, 326px, 0px);
}

.hand-built{
	margin: 0 auto;
	margin-bottom: 80px;
}

.ecosystem {
	margin: 0 auto;
	max-width: 440px;
}


}


@media
(max-width: 991px){

.row > div:nth-child(2n+3){
    clear: both;
  }

h1 {
	font-size: 2.75em;
	font-weight: 300;
}

p.lead {
	font-size: 1.125em;
	line-height: 1.75em;
	font-weight: 400;
}

.logo{
	float: none;
	background-image: url("/images/home/sci-logo.png");
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-left: 144px;
	width: 144px;
	margin: 0 auto;
	height: 48px;
	display: block;
}

.headline{
	margin: 20px 0;
	text-align: center;
}

.navbar .nav-links{
	float: none;
text-align: center;
line-height: 64px;
}

.navbar .nav-links li{
	display: inline;
	list-style-type: none;
	margin: 0 6px;
	float: none;
}


ul{
	-webkit-padding-start: 0px;
}

.hero{
	text-align: center;
}

img.hero-illustration{
	height: auto;
	max-width: 100%;
}

.get-started-cta{
	float: none;
	margin: 0 auto;
}

a.get-started-cta{
	margin-top: 0;
}

.main-cta{
	width: 250px;
	margin: 0 auto;
}


.dashboard-screen{
	position: relative;
	clip: initial;
	float: none;
	padding: 0;
}

img.dashboard-screen{
	height: auto;
	max-width: 100%;
}

.screenshot{
	text-align: center;
	padding: 0 28px;
}

.about-spark{
	padding: 20px 44px 20px 44px;
}

.about-spark p {
	margin-top: 24px;
	line-height: 28px;
}

.what-is-box{
	background: #F7FAFB;
	border: 2px solid #C8D5DB;
	height: auto;
}

p.enough-features{
	text-align: center;
}

}



@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

.logo {
	background-image: url("/images/home/sci-logo.png");
	background-size: 144px 48px;
}
}
