.body {
    line-height: 1.6;
    color: #636b6f;
    background-color: #f5f8fa;
}
.with-navbar {
    padding-top: 100px;
}
.navbar-inverse .navbar-brand {
    color: #a4aaae;
    font-weight: 400;
}
.navbar-inverse .navbar-toggle {
    border-color: #d3e0e9;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #d3e0e9;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-inverse .navbar-nav > li > a {
    text-align: center;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #d3e0e9;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #636b6f;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #636b6f;
}
